<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Job</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Create a New Job</h1>
        <form action="/create_job/" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description"></textarea><br>
            <label for="requirements">Requirements:</label><br>
            <textarea id="requirements" name="requirements"></textarea><br>
            <input type="submit" value="Create New Job">
        </form>
    </div>
</body>
</html>
